
<% if session[:user_id] %>
  <h1><%= @user.name %></h1>
  <h2>Email: <%= @user.email %></h2>
  <h2>Facebook UID: <%= @user.uid %></h2>
  <img src="<%= @user.image %>">
<% else %>
  <%= link_to('Log in with Github!', '/auth/github') %>
<% end %>

<div class="row">
  <div class="container-fluid col-md-8 col-md text-center center-block">
   <div class="center"> <H2> CONCEPT OF THE DAY! </H2>

          <!-- Random Concept -->
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title"><%= @concept.title %></h2>
          <p class="card-text"><%= @concept.description %>v</p>
          <a href="#" class="btn btn-primary"><%= @concept.resource_links %></a>
        </div>
      </div>
       <br>
    </div>
  </div>
</div>