<div class="concept-form">

  <h1 class= "text-center">Edit Your Concept</h1><br>

  <%= form_for @concept do |f| %>
    <div class="field row">
      <%= f.label :title, class: "h4 col-2 col-form-label"%>
      <%= f.text_field :title, class: "col-10 form-control" %>
    </div>
    <br>

    <div class="field row">
      <%= f.label :description, "Edit your Concept's description:" %> <br>
      <%= f.text_area :description, class: "form-control col-9" %>
    </div>
    <br>

    <div class="field row">
      <%= f.label :resource_links, "Modify or add resource link:" %> <br>
      <%= f.text_area :resource_links, class: "form-control col-9" %>
    </div> <br>

    <div>
      <%= f.label :section %>
        <%= f.collection_check_boxes :section_ids, Section.all, :id, :title %>
        <%= f.fields_for :sections, @concept.sections.build do |sections_fields| %>
        <%= sections_fields.text_field :title %>
      <% end %><br>
    </div>
    <%= f.submit "Submit Your Edits", :class=> "btn btn-primary" %>

  <% end %>

</div>
