<h3> Edit Your Concept</h3>
<%= form_for @concept, url: user_concept_path(@user) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>

  <%= f.label :description, "Edit your Concept's description:" %> <br>
  <%= f.text_area :description, class: "form-control col-9" %>
  <br>

  <%= f.label :favorited, "Do you love your new concept? Save it for later!" %>
  <%= f.check_box :favorited%>
  
  <br>
  <%= f.submit "Submit Your Edits", :class=> "btn btn-primary" %>
<% end %>

