<h1 class= "text-center">New Concept</h1><br>
<%#= binding.pry %>
<%= form_for [@user, @concept] do |f| %>
   
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>

  <%= f.label :description, "Tell us about your app idea!" %> 
  <%= f.text_area :description%>
  <br>

  <%= f.label :favorited, "Do you love your new concept? Save it for later!" %>
  <%= f.check_box :favorited%>
  <br>

  <%= f.submit "Submit Concept!", :class=> "btn btn-primary" %>

<% end %>

