<h1 class= "text-center">New Concept</h1><br>

  <%= form_for @concept do |f| %>

    <div class="form-group">    
      <%= f.label :title %> <br>
      <%= f.text_field :title %>
    </div>

    <div class="form-group">
      <%= f.label :description, "Tell us about your app idea!" %> <br>
      <%= f.text_area :description%>
    </div>

    <div class="form-group">
      <%= f.label :favorited, "Do you love your new concept? Save it for later!" %>
      <%= f.check_box :favorited%>
    </div>

    <%= f.fields_for :comments, @concept.comments do |comment| %>

        <div class="form-group">
          <%= comment.label :name, 'Leave a comment!' %>
          <%= comment.text_field :user_entry %>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.submit "Submit Concept!", :class=> "btn btn-primary" %>
    </div>

  <% end %>

