<h1 class= "text-center">New Concept</h1><br>

  <%= form_for @concept do |f| %>

    <div class="form-group">    
      <%= f.label :title %> <br>
      <%= f.text_field :title %>
    </div>

    <div class="form-group">
      <%= f.label :description, "Tell us about your app idea!" %> <br>
      <%= f.text_area :description%>
    </div>

    <div class="form-group">
      <%= f.label :resource_links, "Share an URI that further explains your idea. Or don't. Either way is fine." %> <br>
      <%= f.text_area :resource_links, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :section %> <br>
      <%= f.collection_check_boxes :section_ids, Section.all, :id, :title   %>
    </div>

    <%= f.fields_for :sections, @section.languages do |t| %>
      <%= t.label :language %> <br>
      <%= t.collection_check_boxes :name, Language.all, :id, :name %> <br>
    <% end %>

    <div class="form-group">
      <%= f.submit "Submit Concept!", :class=> "btn btn-primary" %>
    </div>

  <% end %>

