
<nav class="navbar navbar-expand-sm bg-light" style="background-color: #A9A9A9;">
  <a class="navbar-brand" href="/">Concept Community</a>

  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <% if current_user %>
        <li class="nav-item active">
          <%= link_to "Profile", user_path(current_user), class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "New Concept", new_concept_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>

      <% else %>
 
        <li class="nav-item active">
          <%= link_to 'Log in with Github!', '/auth/github', class: "nav-link" %>
        </li>

        <li class="nav-item active">
          <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
        </li>

        <li class="nav-item active">
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
        </li>

      <% end %>
    </ul>
  </div>
</nav>